* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 10px;
}

#page {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0)
    ),
    url("images/forest.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  align-items: center;
}
#profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15rem;
}

#pic {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
}

#name {
  font-family: "Vidaloka", serif;
}

#title {
  font-size: 3rem;
}

#contact {
  font-size: 2.5rem;
  padding: 10px;
}

.fa-brands {
  color: black;
}

@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 920px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 732px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 645px) {
  html {
    font-size: 6px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 5px;
  }
}
